  <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
          <ul class="nav navbar-nav">
              <li><a href="/home">Home</a></li>
              <li><a href="/mijnpronostiek">Mijn pronostiek</a></li>
              <li><a href="/logout">Uitloggen</a></li>
          </ul>
      </div>
  </nav>



    <div class="row-fluid">
        <div class="col-md-12">
            <h1>Welkom bij de Attentia WK-pronostiek!</h1>
        </div>
    </div>


    <div class="row-fluid">
        <div class ="col-md-7">


            <input type="text" class="span2" placeholder="Gebruikersnaam" />
            <input type="text" class="span2" placeholder="Wachtwoord" />

            <button class="btn btn-primary" class="span8">Log in als bestaande gebruiker</button>
        </div>
        <div class="col-md-1">
            <p>of</p>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary">Registreer je als nieuwe gebruiker</button>
        </div>
    </div>




</div>










