
<div  class="row-fluid centerdiv col-md-12">

    <img src="wereldbeker.png"/>
    <h1 id="welkomtekst">Wereldbeker pronostiek app</h1>
</div>

<div id="mainrow" class="row-fluid col-md-12">



    <div class="row-fluid col-md-5">
        <form name="logon" ng-controller="UserCtrl" ng-submit="login()">
            <div class="row-fluid">
                <label class="col-md-6 labelLogin"> E-mail:</label>
                <input ng-required="true" type="text" class="col-md-6" ng-model="gebruiker.gebruikersnaam" placeholder="gebruiker@attentia.be"/>
            </div>

            <div class="row-fluid">
                <label class="col-md-6 labelLogin"> Wachtwoord:</label>
                <input ng-required="true" type="password" class="col-md-6" ng-model="gebruiker.wachtwoord" placeholder="Wachtwoord"/>
            </div>

            <div class="row-fluid">
                <label class="col-md-6"> </label>
                <button type="submit" ng-disabled="logon.$invalid" class="btn btn-primary col-md-12 wkbutton">Log in als bestaande gebruiker</button>
            </div>
            <div class="row-fluid">
                <label class="col-md-6 errorlabel">{{loginErrorMessage}}</label>
            </div>
        </form>

    </div>


    <div class="row-fluid col-md-1">


    </div>

    <div class="row-fluid col-md-6">
        <form name="reg" ng-controller="UserCtrl" ng-submit="registerUser()">
            <div class="row-fluid ">
                <label class="col-md-6 labelLogin"> E-mail: </label>
                <input ng-required="true" class="col-md-6" maxlength="100" type="text" placeholder="nieuwegebruiker@attentia.be" ng-model="gebruiker.nieuwegebruiker"/>

            </div>

            <div class="row-fluid ">
                <label class="col-md-6 labelLogin "> Wachtwoord: </label>
                <input  ng-required="true" class="col-md-6" type="password" placeholder="Wachtwoord" ng-model="gebruiker.nieuwwachtwoord"/>

            </div>

            <div class="row-fluid ">
                <label class="col-md-6 labelLogin"> Voornaam: </label>
                <input  ng-required="true" class="col-md-6" maxlength="20" type="text" placeholder="Voornaam"  ng-model="gebruiker.voornaam"/>
            </div>

            <div class="row-fluid ">
                <label class="col-md-6 labelLogin"> Naam:</label>
                <input  ng-required="true" class="col-md-6" maxlength="20" type="text" placeholder="Naam" ng-model="gebruiker.naam" />
            </div>

            <div class="row-fluid ">
                <label class="col-md-6 labelLogin"> Business unit: </label>
                <select ng-model="gebruiker.buId" ng-options="bu.buId as bu.buNaam for bu in businessunits"  ng-required="true" class="col-md-6">
                     <option value="" ng-hide="gebruiker.buId">Kies een business-unit aub</option>
                </select/>
            </div>

            <div class="row-fluid">
                <button type="submit" ng-disabled="reg.$invalid" class="btn btn-primary col-md-12 wkbutton">Registreer je als nieuwe gebruiker</button>
            </div>
            <div class="row-fluid">
                <label class="errorlabel col-md-6">{{registerErrorMessage}}</label>
            </div>
        </form>

    </div>


</div>












