
<div  class="row-fluid centerdiv col-md-12">

    <img src="wereldbeker.png"/>
    <h1 id="welkomtekst">{{'WERELDBEKERAPP' | translate}}</h1>
</div>

<div id="mainrow" class="row-fluid col-md-12">

    <div class="row-fluid col-md-5">
        <form name="logon" class="row-fluid col-md-12" ng-controller="UserCtrl" ng-submit="login()">
            <div class="row-fluid col-m-12">
                <label class="col-md-6 labelLogin"> {{'EMAIL' |translate}}:</label>
                <input ng-required="true" type="text" class="col-md-6" ng-model="gebruiker.gebruikersnaam" placeholder="{{'EMAILATT' |translate}}"/>
            </div>

            <div class="row-fluid col-m-12">
                <label class="col-md-6 labelLogin">{{'WACHTWOORD' |translate}} :</label>
                <input ng-required="true" type="password" class="col-md-6" ng-model="gebruiker.wachtwoord" placeholder="{{'WACHTWOORD' | translate}}"/>
            </div>

            <div class="row-fluid col-m-12">

                <button type="submit" ng-disabled="logon.$invalid" class="btn btn-primary col-md-12 wkbutton">{{'BESTAANDEGEBRUIKER' |translate}}</button>
            </div>
            <div class="row-fluid col-m-12">
                <label class="col-md-6 errorlabel">{{loginErrorMessage}}</label>
            </div>
        </form>

    </div>


    <div class="row-fluid col-md-1">


    </div>

    <div class="row-fluid col-md-6">
        <form name="reg" ng-controller="UserCtrl"  class="row-fluid col-md-12" ng-submit="registerUser()">
            <div class="row-fluid col-m-12">
                <label class="col-md-6 labelLogin">{{'EMAIL' | translate}}: </label>
                <input ng-required="true" class="col-md-6" maxlength="100" type="text" placeholder="{{'NEMAILATT' |translate}}" ng-model="gebruiker.nieuwegebruiker"/>

            </div>

            <div class="row-fluid col-m-12 ">
                <label class="col-md-6 labelLogin ">{{'WACHTWOORD' | translate}} : </label>
                <input  ng-required="true" class="col-md-6" type="password" placeholder="{{'WACHTWOORD' | translate}}" ng-model="gebruiker.nieuwwachtwoord"/>

            </div>

            <div class="row-fluid col-m-12 ">
                <label class="col-md-6 labelLogin">{{'VOORNAAM' | translate}}: </label>
                <input  ng-required="true" class="col-md-6" maxlength="20" type="text" placeholder="{{'VOORNAAM' | translate}}"  ng-model="gebruiker.voornaam"/>
            </div>

            <div class="row-fluid col-m-12">
                <label class="col-md-6 labelLogin"> {{'NAAM' | translate}}:</label>
                <input  ng-required="true" class="col-md-6" maxlength="20" type="text" placeholder="{{'NAAM' | translate}}" ng-model="gebruiker.naam" />
            </div>

            <div class="row-fluid col-m-12">
                <label class="col-md-6 labelLogin"> Business unit: </label>
                <select ng-model="gebruiker.buId" ng-options="bu.buId as bu.buNaam | translate for bu in businessunits"  ng-required="true" class="col-md-6">
                     <option value="" ng-hide="gebruiker.buId">{{'KIESBU' | translate}}</option>
                </select/>
            </div>

            <div class="row-fluid col-m-12">
                <button type="submit" ng-disabled="reg.$invalid" class="btn btn-primary col-md-12 wkbutton">{{'NIEUWEGEBRUIKER' | translate}}</button>
            </div>
            <div class="row-fluid col-m-12">
                <label class="errorlabel col-md-6">{{registerErrorMessage}}</label>
            </div>
        </form>

    </div>


</div>












