
<div class="centerdiv">
    <div class="row-fluid col-md-12 ">
        <img src="banner.gif" />
    </div>
</div>

<div>
    <b>Hoe werkt deze pronostiek?</b><br/><br/>
    <p>
    Eens je geregistreerd bent kun je jezelf aanmelden. Dit gebeurt ook automatisch na de registratie.
    Vervolgens krijg je toegang tot de rubriek "Mijn pronostiek"
    Het is  de bedoeling dat je voor iedere match die weergegeven wordt een score opgeeft.
    Op het einde van de pronostiek dien je op te geven wie je denkt dat het WK zal winnen, dit levert op het einde van het spel een flinke bonus op!
    Als je denkt dat je pronostiek klaar is kun je op "Mijn pronostiek opslaan" klikken. <br/><br/>
    LET OP! Als je hierop klikt wordt je pronostiek definitief opgeslagen en kun je deze niet meer wijzigen!
    </p>

    <b>Hoe scoor ik punten?</b> <br/> <br/>

    <p>
        Voor elke match kun je maximum 3 punten verdienen: <br/>
        <ul>
            <li>1 punt indien je de winnende ploeg goed kon voorspellen</li>
            <li>1 punt indien je een gelijkspel goed voorspelde</li>
            <li>2 punten voor een exact juiste matchscore</li>
        </ul>



    </p>

    Na de groepsfase worden de eerste punten berekend. Je zal dan je individuele plaats in het algemeen klassement kunnen zien alsook je positie binnen je eigen BU.<br/>
    Er is ook een klassement tussen de verschillende BU's: per BU wordt berekend wat het gemiddeld aantal gescoorde punten is.<br/>
    De matchen van de 1/8 finales zullen vanaf dan ook beschikbaar worden om te pronostikeren via "Mijn pronostiek".
    Zo gaat het spel verder tot het einde van het WK.</br></br>

    Veel succes met je pronostiek!

</div>