<div class="centerdiv">
    <div class="row-fluid col-md-12 ">
        <img src="banner.gif" />
    </div>
</div>


<div ng-show="isNL">

    <b>Hoe werkt deze pronostiek?</b><br/><br/>
    <p>
    Eens je geregistreerd bent kun je jezelf aanmelden. Dit gebeurt ook automatisch na de registratie.
    Vervolgens krijg je toegang tot de rubriek "Mijn pronostiek"
    Het is  de bedoeling dat je voor iedere match die weergegeven wordt een score opgeeft.
    Op het einde van de pronostiek dien je op te geven wie je denkt dat het WK zal winnen, dit levert op het einde van het spel een flinke bonus op!
    Als je denkt dat je pronostiek klaar is kun je op "Mijn pronostiek opslaan" klikken. <br/><br/>
    LET OP! Als je hierop klikt wordt je pronostiek definitief opgeslagen en kun je deze niet meer wijzigen!
    </p>

    <b>Hoe scoor ik punten?</b> <br/> <br/>

    <p>
        Voor elke match kun je maximum 3 punten verdienen: <br/>
        <ul>
            <li>1 punt indien je de winnende ploeg goed kon voorspellen</li>
            <li>1 punt indien je een gelijkspel goed voorspelde</li>
            <li>2 punten voor een exact juiste matchscore</li>
        </ul>



    </p>

    Na de groepsfase worden de eerste punten berekend. Je zal dan je individuele plaats in het algemeen klassement kunnen zien alsook je positie binnen je eigen BU.<br/>
    Er is ook een klassement tussen de verschillende BU's: per BU wordt berekend wat het gemiddeld aantal gescoorde punten is.<br/>
    De matchen van de 1/8 finales zullen vanaf dan ook beschikbaar worden om te pronostikeren via "Mijn pronostiek".
    Zo gaat het spel verder tot het einde van het WK.</br></br>
    
    <p>
    Voor de finalefases:</br></br>
    
    Het is het resultaat na 120' opgeteld met de scores van de eventuele penaltys dat als resultaat ingegeven zal worden.</br>
    Het heeft dus geen zin meer om gelijkspel te voorspellen.</br>
    Een voorbeeld:</br></br>
    
    Belgie speelt 2-2 gelijk tegen de VS na de verlengingen</br>
    Er worden penalties getrapt en België wint met 5-4</br>
    Het resultaat wordt dan ingegeven als 7-6</br>
    </p>

    Veel succes met je pronostiek!

</div>
<div ng-hide="isNL">


    <b>Comment fonctionne ce pronostique ?</b><br/><br/>
    <p>
    Une fois enregistré, vous avez la possibilité de vous connecter. Ceci s’effectue automatiquement après l’enregistrement qui donne accès à la rubrique ‘mon pronostique ‘.<br/>
    Le but est de donner le résultat pour chaque match qui est présenté.<br/>
    A la fin du pronostique, il faut indiquer votre prétendant au titre de  champion du monde. Une bonne prédiction du gagnant donnera droit un grand bonus à la fin du concours !<br/>
    Une fois votre pronostique complété entièrement, il est important de le sauvegarder en cliquant sur ‘enregistrer mon pronostique’.<br/><br/>

    ATTENTION ! En cliquant sur enregistrer , le pronostique est sauvegarder de manière définitive et ne peut être modifié !</br>
    </p>

    <b>Comment obtenir des points ?</b><br/> <br/>
    <p>
        Pour chaque match, il y a un maximum de 3 points à gagner :
        <ul>
            <li>1 point pour avoir pronostiqué correctement l’équipe victorieuse</li>
            <li>1 point pour avoir pronostiqué correctement un match nul</li>
            <li>2 points pour le score exact de la partie</li>
        </ul>
    </p>

    Après la phase de groupe, les premiers points seront  calculés et un classement indiquera la place de chacun des participants
    dans le classement général, ainsi que la position dans son propre BU.<br/>

    Il y a également un  classement entre BU’s : le calcul de la moyenne des points obtenus  par chaque BU sera calculé.<br/>

    A partir des 1/8 de finale, les matchs éliminatoires seront également disponibles pour effectuer des pronostiques via le champs ‘Mon pronostique’.<br/>
    Ainsi, le concours continuera jusqu’à la finale de la coupe du monde.<br/><br/>

    <p>
    Pour les finales:</br></br>
    
    C'est le résultat apres 120' ajouté avec le score des penaltys qui sera introduit comme résultat correct.</br>
    
    D'après c'est pas intéressant de pronstiquer un match nul!</br>
    Par example:</br></br>
    
    La Belgique joue 2-2 contre les Etats Unis après 120'</br>
    On tire des penaltys et la Belgique gagne avec 5-4</br>
    Le résultat sera introduit comme 7-6</br>
    </p>


    Bonne chance et à vos pronostiques !
</div>
